@using LIMSBlazor.Data
@page "/config/cliaddedit"
@page "/config/cliaddedit/{id:int}"
@inject ICliService CliService
@inject NavigationManager NavigationManager

<DataEdit PageTitle="@pagetitle" Model="@cli" BtnSaveText="@buttontext" OnValidSubmit="@CliSave" OnClickCancel="@Cancel">
    <table>
        <tr>
            <td>Имя Клиетна:</td>
            <td><input type="text" @bind="cli.Name" class="form-control" required></td>
        </tr>
        <tr>
            <td>Полное имя Клиента:</td>
            <td><input type="text" @bind="cli.FullName" class="form-control" required></td>
        </tr>
        <tr>
            <td>Номер телефона Клиента:</td>
            <td><input type="text" @bind="cli.PhoneNumber" class="form-control" required></td>
        </tr>
        <tr>
            <td>Организация:</td>
            <td><input type="text" @bind="cli.Organization" class="form-control" required></td>
        </tr>
    </table>
</DataEdit>

@code {
    /// <summary>
    /// Создаём необходимые компоненты
    /// </summary>
    Cli cli = new Cli();

    [Parameter]
    public int id { get; set; }

    /// <summary>
    /// Задаём базовые значения
    /// </summary>
    public string pagetitle = "Добавить нового Клиента";
    public string buttontext = "Добавить";

    /// <summary>
    /// Исполняемая при запуске страницы задача
    /// </summary>
    protected override async Task OnInitializedAsync()
    {
        /// Если Id ноль то будет добавлено новое значение
        if (id != 0)
        {
            cli = await CliService.Cli_GetOne(id);
            pagetitle = "Изменить данные Клиента";
            buttontext = "Изменить";
        }
    }

    /// <summary>
    /// Задача сохраняющая при Id=0 или обновляющая данные если Id задан в БД
    /// </summary>
    protected async Task CliSave()
    {
        if (cli.Id == 0)
        {
            await CliService.CliInsert(cli);
        }
        else
        {
            await CliService.CliUpdate(cli);
        }
        NavigationManager.NavigateTo("config/clilist");
    }

    /// <summary>
    /// Отмена изменений и возвращение на прошлую страницу
    /// </summary>
    void Cancel()
    {
        NavigationManager.NavigateTo("config/clilist");
    }
}
