@using LIMSBlazor.Data
@page "/config/clilist"
@inject ICliService CliService

<DataView PageTitle="Список клиентов" UrlAdd="config/cliaddedit" UrlAddText="Добавить нового клиента">
    <Header>
        <tr>
            <td style="text-align:center">#</td>
            <td>Id клиента</td>
            <td>Имя Клиетна</td>
            <td>Полное имя Клиента</td>
            <td>Номер телефона Клиента</td>
            <td>Организация</td>
        </tr>
    </Header>
    <Rows>
        @if (clis == null)
        {
            <p style="text-align:center">
                <img src="../images/loader.gif" width="50" height="50" />
            </p>
        }
        else
        {
            @foreach (var cli in clis)
            {
                <tr>
                    <td style="text-align:center">
                        <a href="config/cliaddedit/@cli.Id">
                            <img src="../images/iEdit.png" width="20" height="20" />
                        </a>
                        &nbsp
                        <a href="config/clidelete/@cli.Id">
                            <img src="../images/iTrash.png" alt="Delete" title="Delete" width="20" height="20" />
                        </a>
                    </td>
                    <td>@cli.Id</td>
                    <td>@cli.Name</td>
                    <td>@cli.FullName</td>
                    <td>@cli.PhoneNumber</td>
                    <td>@cli.Organization</td>
                </tr>
            }
        }
    </Rows>
</DataView>

@code {
    IEnumerable<Cli> clis;
    protected override async Task OnInitializedAsync()
    {
        clis = await CliService.CliList();
    }
}
