@using LIMSBlazor.Data
@page "/config/unitaddedit"
@page "/config/unitaddedit/{id:int}"
@inject IUnitService UnitService
@inject NavigationManager NavigationManager

<DataEdit PageTitle="@pagetitle" Model="@unit" BtnSaveText="@buttontext" OnValidSubmit="@UnitSave" OnClickCancel="@Cancel">
    <table>
        <tr>
            <td>Наименование:</td>
            <td><input type="text" @bind="unit.Name" class="form-control" required></td>
        </tr>
        <tr>
            <td>Скаляция:</td>
            <td><input type="text" @bind="unit.Scale" class="form-control" required></td>
        </tr>
        <tr>
            <td>Базовая Ед:</td>
            <td>
                <select @bind="unit.BaseUnitId" class="form-control" required>
                    @if (units != null)
                    {
                        <option value="0">Выберите значение</option>
                        foreach (var item in units)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    }
                </select>
            </td>
        </tr>
    </table>
</DataEdit>

@code {
    /// <summary>
    /// Создаём необходимые компоненты
    /// </summary>
    Unit unit = new Unit();

    IEnumerable<Unit> units;

    [Parameter]
    public int id { get; set; }

    /// <summary>
    /// Задаём базовые значения
    /// </summary>
    public string pagetitle = "Добавить новую Ед. Измерения";
    public string buttontext = "Добавить";

    /// <summary>
    /// Исполняемая при запуске страницы задача
    /// </summary>
    protected override async Task OnInitializedAsync()
    {
        units = await UnitService.UnitList();
        /// Если Id ноль то будет добавлено новое значение
        if (id != 0)
        {
            unit = await UnitService.Unit_GetOne(id);
            pagetitle = "Изменить данные Ед. Измерения";
            buttontext = "Изменить";
        }
    }

    /// <summary>
    /// Задача сохраняющая при Id=0 или обновляющая данные если Id задан в БД
    /// </summary>
    protected async Task UnitSave()
    {
        if (unit.Id == 0)
        {
            await UnitService.UnitInsert(unit);
        }
        else
        {
            await UnitService.UnitUpdate(unit);
        }
        NavigationManager.NavigateTo("config/unitlist");
    }

    /// <summary>
    /// Отмена изменений и возвращение на прошлую страницу
    /// </summary>
    void Cancel()
    {
        NavigationManager.NavigateTo("config/unitlist");
    }
}
