@using LIMSBlazor.Data
@page "/config/useraddedit"
@page "/config/useraddedit/{id:int}"
@inject IUserService UserService
@inject NavigationManager NavigationManager


<DataEdit PageTitle="@pagetitle" Model="@user" BtnSaveText="@buttontext" OnValidSubmit="@UserSave" OnClickCancel="@Cancel">
    <table>
        <tr>
            <td>Имя Пользователя:</td>
            <td><input type="text" @bind="user.Name" class="form-control" required></td>
        </tr>
        <tr>
            <td>Полное имя Пользователя:</td>
            <td><input type="text" @bind="user.FullName" class="form-control" required></td>
        </tr>
        <tr>
            <td>Номер телефона Пользователя:</td>
            <td><input type="text" @bind="user.PhoneNumber" class="form-control" required></td>
        </tr>
        <tr>
            <td>Пароль:</td>
            <td><input type="text" @bind="user.Password" class="form-control" required></td>
        </tr>
    </table>
</DataEdit>


@code {
    /// <summary>
    /// Создаём необходимые компоненты
    /// </summary>
    User user = new User();

    [Parameter]
    public int? id { get; set; }

    /// <summary>
    /// Задаём базовые значения
    /// </summary>
    public string pagetitle = "Добавить нового пользователя";
    public string buttontext = "Добавить";

    /// <summary>
    /// Исполняемая при запуске страницы задача
    /// </summary>
    protected override async Task OnInitializedAsync()
    {
        /// Если Id ноль то будет добавлено новое значение
        if (id != null)
        {
            user = await UserService.User_GetOne((int)id);
            pagetitle = "Изменить данные пользователя";
            buttontext = "Изменить";
        }
    }

    /// <summary>
    /// Задача сохраняющая при Id=0 или обновляющая данные если Id задан в БД
    /// </summary>
    protected async Task UserSave()
    {
        if (user.Id == 0)
        {
            // Insert if id is zero.
            await UserService.UserInsert(user);
        }
        else
        {
            // Update is id > 0
            await UserService.UserUpdate(user);
        }
        NavigationManager.NavigateTo("/config/userlist");
    }

    /// <summary>
    /// Отмена изменений и возвращение на прошлую страницу
    /// </summary>
    void Cancel()
    {
        NavigationManager.NavigateTo("/config/userlist");
    }
}
