@using LIMSBlazor.Data
@page "/config/instrumtype/instrumtypeanalyticaddedit/{InstrumentTypeId:int}"
@page "/config/instrumtype/instrumtypeanalyticaddedit/{InstrumentTypeId:int}/{AnalyticalServiceId:int}"
@inject IInstrumTypeAnalyticService InstrumTypeAnalyticService
@inject IInstrumTypeService InstrumTypeService
@inject IAnalyticalServService AnalyticalServService
@inject NavigationManager NavigationManager

<DataEdit PageTitle="@pagetitle" Model="@instrumtypeanalytic" BtnSaveText="@buttontext" OnValidSubmit="@InstrumTypeAnalyticSave" OnClickCancel="@Cancel">
    <table>
        <tr>
            <td>Тип оборудования:</td>
            <td>@instrumtypes?.Where(x => x.Id == InstrumentTypeId).FirstOrDefault()?.Name</td>
        </tr>
        <tr>
            <td>Аналитический сервис:</td>
            <td>
                <select @bind="instrumtypeanalytic.AnalyticalServiceId" class="form-control" required>
                    @if (analyticalservs != null)
                    {
                        <option value="0">Выберите значение</option>
                        foreach (var item in analyticalservs)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    }
                </select>
            </td>
        </tr>
    </table>
</DataEdit>

    @code {
        // Create a new, empty object
        InstrumTypeAnalytic instrumtypeanalytic = new InstrumTypeAnalytic();

        IEnumerable<InstrumType> instrumtypes;
        IEnumerable<AnalyticalServ> analyticalservs;

        [Parameter]
        public int InstrumentTypeId { get; set; }
        [Parameter]
        public int AnalyticalServiceId { get; set; }

        // Set default page title and button text
        public string pagetitle = "Добавить новый аналитический сервис типа";
        public string buttontext = "Добавить";

        //Executes on page open, set defaults on page.
        protected override async Task OnInitializedAsync()
        {
            instrumtypes = await InstrumTypeService.InstrumTypeList();
            analyticalservs = await AnalyticalServService.AnalyticalServList();
            // ============ If the passed-in id is zero, assume new data.
            if ((InstrumentTypeId != 0) & (AnalyticalServiceId != 0))
            {
                instrumtypeanalytic = await InstrumTypeAnalyticService.InstrumTypeAnalytic_GetOne(InstrumentTypeId, AnalyticalServiceId);
                // Change page title and button text since this is an edit.

                pagetitle = "Изменить данные аналитического сервиса типа";
                buttontext = "Изменить";
            }
        }

        protected async Task InstrumTypeAnalyticSave()
        {
            if ((InstrumentTypeId != 0) & (AnalyticalServiceId != 0))
            {
                // Update is id > 0
                instrumtypeanalytic.OldAnalyticalServiceId = AnalyticalServiceId;
                await InstrumTypeAnalyticService.InstrumTypeAnalyticUpdate(instrumtypeanalytic);
            }
            else
            {
                // Insert if id is zero.
                await InstrumTypeAnalyticService.InstrumTypeAnalyticInsert(instrumtypeanalytic, InstrumentTypeId);
            }
            NavigationManager.NavigateTo("config/instrumtype/instrumtypeanalyticlist/" + InstrumentTypeId);
        }
        void Cancel()
        {
            NavigationManager.NavigateTo("config/instrumtype/instrumtypeanalyticlist/" + InstrumentTypeId);
        }
    }
