@using LIMSBlazor.Data
@page "/samplelog/sample/resultaddedit/{SampleId:int}"
@page "/samplelog/sample/resultaddedit/{SampleId:int}/{id:int}"
@inject IResultService ResultService
@inject ISampleService SampleService
@inject IAnalyticalServService AnalyticalServService
@inject IInstrumentService InstrumentService
@inject NavigationManager NavigationManager

<DataEdit PageTitle="@pagetitle" Model="@result" BtnSaveText="@buttontext" OnValidSubmit="@ResultSave" OnClickCancel="@Cancel">
    <table>
        <tr>
            <td>Id испытания:</td>
            <td>@SampleId</td>
        </tr>
        <tr>
            <td>Аналитический сервис:</td>
            <td>
                <select @bind="result.AnalyticalServiceId" class="form-control" required>
                    @if (analyticalservs != null)
                    {
                        <option value="0">Выберите значение</option>
                        foreach (var item in analyticalservs)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td>Наименование испытательного оборудования:</td>
            <td>
                <select @bind="result.InstrumentId" class="form-control" required>
                    @if (instruments != null)
                    {
                        <option value="0">Выберите значение</option>
                        foreach (var item in instruments)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td>Номер пробы:</td>
            <td>
                <select @bind="result.ValueNo" class="form-control" required>
                    @if (samples != null)
                    {
                        <option value="0">Выберите значение</option>
                        foreach (var item in samples)
                        {
                            if (item.Id == SampleId)
                                for (int i = 1; i <= item.NumSamples; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                        }
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td>Готовность:</td>
            <td><input type="checkbox" @bind="result.IsFinal"></td>
        </tr>
        <tr>
            <td>Записка:</td>
            <td><textarea class="form-control" type="text" id="exampleFormControlTextarea1" rows="5" cols="100" @bind="result.Note"></textarea></td>
        </tr>
    </table>
</DataEdit>

@code {
    /// <summary>
    /// Создаём необходимые компоненты
    /// </summary>
    Result result = new Result();

    IEnumerable<Sample> samples;
    IEnumerable<AnalyticalServ> analyticalservs;
    IEnumerable<Instrument> instruments;

    [Parameter]
    public int SampleId { get; set; }
    [Parameter]
    public int id { get; set; }

    /// <summary>
    /// Задаём базовые значения
    /// </summary>
    public string pagetitle = "Добавить новый результат испытания";
    public string buttontext = "Добавить";

    /// <summary>
    /// Исполняемая при запуске страницы задача
    /// </summary>
    protected override async Task OnInitializedAsync()
    {
        samples = await SampleService.SampleList();
        analyticalservs = await AnalyticalServService.AnalyticalServList();
        instruments = await InstrumentService.InstrumentList();
        /// Если Id ноль то будет добавлено новое значение
        if (id != 0)
        {
            result = await ResultService.Result_GetOne(id);
            pagetitle = "Изменить данные результата испытания";
            buttontext = "Изменить";
        }
    }

    /// <summary>
    /// Задача сохраняющая при Id=0 или обновляющая данные если Id задан в БД
    /// </summary>
    protected async Task ResultSave()
    {
        if (id != 0)
        {
            result.UpdateTime = DateTime.Now;
            result.UpdateUser = "Обновивший пользователь пользователь";
            await ResultService.ResultUpdate(result);
        }
        else
        {
            result.CreateTime = DateTime.Now;
            result.CreateUser = "Создавший пользователь";
            result.SampleId = SampleId;
            await ResultService.ResultInsert(result);
        }
        NavigationManager.NavigateTo("/samplelog/sample/resultlist/" + SampleId);
    }

    /// <summary>
    /// Отмена изменений и возвращение на прошлую страницу
    /// </summary>
    void Cancel()
    {
        NavigationManager.NavigateTo("/samplelog/sample/resultlist/" + SampleId);
    }
}
