<AuthorizeView Roles="ADMIN">
    <NotAuthorized>
        <p>Вы не обладаете необходимыми правами для доступа к этой странице.</p>
    </NotAuthorized>
    <Authorized>
        @using LIMSBlazor.Data
        @page "/config/sampletypedelete/{id:int}"
        @inject ISampleTypeService SampleTypeService
        @inject NavigationManager NavigationManager

        <DataEdit FormType="Delete" PageTitle="Удалить тип образца испытания из базы данных" DeleteWarning="Вы уверены что хотите удалить этот тип образца испытания из базы данных? Данные нельзя будет вернуть!" Model="@sampletype" OnClickDelete="@Delete" OnClickCancel="@Cancel">
            <table class="editform">
                <tr>
                    <td>Наименование:</td>
                    <td>@sampletype.Name</td>
                </tr>
                <tr>
                    <td>Описание:</td>
                    <td>@sampletype.Description</td>
                </tr>
            </table>
        </DataEdit>

        @code {
            /// <summary>
            /// Создаём необходимые компоненты
            /// </summary>
            SampleType sampletype = new SampleType();

            [Parameter]
            public int id { get; set; }

            /// <summary>
            /// Исполняемая при запуске страницы задача
            /// </summary>
            protected override async Task OnInitializedAsync()
            {
                sampletype = await SampleTypeService.SampleType_GetOne(id);
            }

            /// <summary>
            /// Задача удаляющая запись из БД
            /// </summary>
            protected async Task Delete()
            {
                // Insert if id is zero.
                await SampleTypeService.SampleTypeDelete(id);
                NavigationManager.NavigateTo("config/sampletypelist");
            }

            /// <summary>
            /// Отмена изменений и возвращение на прошлую страницу
            /// </summary>
            void Cancel()
            {
                NavigationManager.NavigateTo("config/sampletypelist");
            }
        }
    </Authorized>
</AuthorizeView>