@using LIMSBlazor.Data
@page "/analysis/sample/finalresultlist/{SampleId:int}"
@inject IFinalResultService FinalResultService
@inject ISampleService SampleService
@inject IAnalyticalServService AnalyticalServService

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="/analysis/sample/finalresultlist/@SampleId">Финальные результаты</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/analysis/sample/resultlist/@SampleId">Результаты</a>
    </li>
</ul>
<DataView PageTitle="Список финальных результатов испытания" UrlBack="confirmation/samplelist" UrlBackText="Вернуться к списку испытаний">
    <Header>
        <tr>
            <th style="text-align:center">#</th>
            <th>Id</th>
            <td>Id испытания</td>
            <td>Аналитический сервис</td>
            <td>Номер образца</td>
            <td>Результат</td>
            <td>Подтвержден</td>
            <td>Записка</td>
            <td>Время создания</td>
            <td>Время последних изменений</td>
            <td>Кем созданно</td>
            <td>Кем изменено</td>
        </tr>
    </Header>
    <Rows>
        @if (finalresults == null)
        {
            <p style="text-align:center">
                <img src="../images/loader.gif" />
            </p>
        }
        else
        {
            @foreach (var finaresult in finalresults)
            {
                <tr>
                    <td style="text-align:center">
                        <a href="analysis/sample/finalresultaddedit/@SampleId/@finaresult.Id">
                            <img src="../images/iEdit.png" width="20" height="20" />
                        </a>
                        &nbsp
                        <a href="analysis/sample/finalresultdelete/@SampleId/@finaresult.Id">
                            <img src="../images/iTrash.png" alt="Delete" title="Delete" width="20" height="20" />
                        </a>
                    </td>
                    <td>@finaresult.Id</td>
                    <td>@finaresult.SampleId</td>
                    <td>@analyticalservs?.Where(x => x.Id == finaresult.AnalyticalServiceId).FirstOrDefault()?.Name</td>
                    <td>@finaresult.ValueNo</td>
                    <td>@finaresult.Value</td>
                    <td>
                        @if (finaresult.IsFinal == true)
                        {<img src="../images/iGreenCheck.png" width="25" height="25" />}
                        else
                        {<img src="../images/iRedX.png" width="25" height="25" />}
                    </td>
                    <td>@finaresult.Note</td>
                    <td>@finaresult.CreateTime</td>
                    <td>@finaresult.UpdateTime</td>
                    <td>@finaresult.CreateUser</td>
                    <td>@finaresult.UpdateUser</td>
                </tr>
            }
        }
    </Rows>
</DataView>

@code {
    IEnumerable<FinalResult> finalresults;
    IEnumerable<Sample> samples;
    IEnumerable<AnalyticalServ> analyticalservs;

    [Parameter]
    public int SampleId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        finalresults = await FinalResultService.FinalResultList(SampleId);
        samples = await SampleService.SampleList();
        analyticalservs = await AnalyticalServService.AnalyticalServList();
    }
}
