@using LIMSBlazor.Data
@using Microsoft.AspNetCore.Identity;
@page "/config/userdelete/{id}"
@inject IAspNetUserService AspNetUserService
@inject NavigationManager NavigationManager

<DataEdit FormType="Delete" PageTitle="Удалить пользователя из базы данных" DeleteWarning="Вы уверены что хотите удалить этого пользователя? Данные нельзя будет вернуть!" Model="@aspNetUser" OnClickDelete="@Delete" OnClickCancel="@Cancel">
    <table>
        <tr>
            <td>Имя пользователя:</td>
            <td>@aspNetUser.UserName</td>
        </tr>
        <tr>
            <td>E-mail пользователя:</td>
            <td>@aspNetUser.Email</td>
        </tr>
        <tr>
            <td>Номер телефона Пользователя:</td>
            <td>@aspNetUser.PhoneNumber</td>
        </tr>
    </table>
</DataEdit>

@code { 
    /// <summary>
    /// Создаём необходимые компоненты
    /// </summary>
    IdentityUser aspNetUser;

    [Parameter]
    public string id { get; set; }

    /// <summary>
    /// Исполняемая при запуске страницы задача
    /// </summary>
    protected override async Task OnInitializedAsync()
    {
        aspNetUser = await AspNetUserService.AspNetUser_GetOne(id);
    }

    /// <summary>
    /// Задача удаляющая запись из БД
    /// </summary>
    protected async Task Delete()
    {
        await AspNetUserService.AspNetUserDelete(id);
        NavigationManager.NavigateTo("/config/userlist");
    }

    /// <summary>
    /// Отмена изменений и возвращение на прошлую страницу
    /// </summary>
    void Cancel()
    {
        NavigationManager.NavigateTo("/config/userlist");
    }
}
