@using LIMSBlazor.Data
@page "/config/sampletype/sampletypeanalyticaladdedit/{SampleTypeId:int}"
@page "/config/sampletype/sampletypeanalyticaladdedit/{SampleTypeId:int}/{AnalyticalServiceId:int}"
@inject ISampleTypeAnalyticalService SampleTypeAnalyticalService
@inject ISampleTypeService SampleTypeService
@inject IAnalyticalServService AnalyticalServService
@inject NavigationManager NavigationManager

<DataEdit PageTitle="@pagetitle" Model="@sampletypeanalytical" BtnSaveText="@buttontext" OnValidSubmit="@SampleTypeAnalyticalSave" OnClickCancel="@Cancel">
    <table>
        <tr>
            <td>Тип пробы:</td>
            <td>@sampletypes?.Where(x => x.Id == SampleTypeId).FirstOrDefault()?.Name</td>
        </tr>
        <tr>
            <td>Аналитический сервис:</td>
            <td>
                <select @bind="sampletypeanalytical.AnalyticalServiceId" class="form-control" required>
                    @if (analyticalservs != null)
                    {
                        <option value="0">Выберите значение</option>
                        foreach (var item in analyticalservs)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    }
                </select>
            </td>
        </tr>
    </table>
</DataEdit>

@code {
    /// <summary>
    /// Создаём необходимые компоненты
    /// </summary>
    SampleTypeAnalytical sampletypeanalytical = new SampleTypeAnalytical();

    IEnumerable<SampleType> sampletypes;
    IEnumerable<AnalyticalServ> analyticalservs;

    [Parameter]
    public int SampleTypeId { get; set; }
    [Parameter]
    public int AnalyticalServiceId { get; set; }

    /// <summary>
    /// Задаём базовые значения
    /// </summary>
    public string pagetitle = "Добавить новый аналитический сервис типа испытания";
    public string buttontext = "Добавить";

    /// <summary>
    /// Исполняемая при запуске страницы задача
    /// </summary>
    protected override async Task OnInitializedAsync()
    {
        sampletypes = await SampleTypeService.SampleTypeList();
        analyticalservs = await AnalyticalServService.AnalyticalServList();
        /// Если Id ноль то будет добавлено новое значение
        if ((SampleTypeId != 0) & (AnalyticalServiceId != 0))
        {
            sampletypeanalytical = await SampleTypeAnalyticalService.SampleTypeAnalytical_GetOne(SampleTypeId, AnalyticalServiceId);
            pagetitle = "Изменить данные аналитического сервиса типа испытания";
            buttontext = "Изменить";
        }
    }

    /// <summary>
    /// Задача сохраняющая при Id=0 или обновляющая данные если Id задан в БД
    /// </summary>
    protected async Task SampleTypeAnalyticalSave()
    {
        if ((sampletypeanalytical.SampleTypeId != 0) & (sampletypeanalytical.AnalyticalServiceId != 0))
        {
            sampletypeanalytical.OldAnalyticalServiceId = AnalyticalServiceId;
            await SampleTypeAnalyticalService.SampleTypeAnalyticalUpdate(sampletypeanalytical);
        }
        else
        {
            await SampleTypeAnalyticalService.SampleTypeAnalyticalInsert(sampletypeanalytical, SampleTypeId);
        }
        NavigationManager.NavigateTo("config/sampletype/sampletypeanalyticallist/" + SampleTypeId);
    }

    /// <summary>
    /// Отмена изменений и возвращение на прошлую страницу
    /// </summary>
    void Cancel()
    {
        NavigationManager.NavigateTo("config/sampletype/sampletypeanalyticallist/" + SampleTypeId);
    }
}
