@using LIMSBlazor.Data
@page "/confirmation/sampleaddedit/{Id:int}"
@inject ISampleService SampleService
@inject ICliService CliService
@inject ISampleTypeService SampleTypeService
@inject ILocService LocService
@inject ISampleAnalyticalService SampleAnalyticalService
@inject IFinalResultService FinalResultService
@inject NavigationManager NavigationManager

<DataEdit PageTitle="@pagetitle" Model="@sample" BtnSaveText="@buttontext" OnValidSubmit="@SampleSave" OnClickCancel="@Cancel">
    <div class="alert alert-danger" role="alert" style="display:@Visibl">
        Не все результаты были одобрены
    </div>
    <table>
        <tr>
            <td>Время получения:</td>
            <td>@sample.RecieveTime</td>
        </tr>
        <tr>
            <td>Время начала тестов:</td>
            <td>@sample.TestTime</td>
        </tr>
        <tr>
            <td>Клиент:</td>
            <td>@clis?.Where(x => x.Id == sample.ClientId).FirstOrDefault()?.Name</td>
        </tr>
        <tr>
            <td>Тип образца:</td>
            <td>@sampletypes?.Where(x => x.Id == sample.SampleTypeId).FirstOrDefault()?.Name</td>
        </tr>
        <tr>
            <td>Статус:</td>
            <td>
                <select @bind="sample.Status" required class="form-control">
                    <option value="0">Выберете значение</option>
                    @foreach (var item in GlobalConstant.SampleStatusModel)
                    {
                        if (item.Value != "1")
                        {<option value="@item.Value">@item.Text</option>}
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td>Готовность:</td>
            <td>
                @if (sample.IsFinal == true)
                {<img src="../images/iGreenCheck.png" width="25" height="25" />}
                else
                {<img src="../images/iRedX.png" width="25" height="25" />}
            </td>
        </tr>
        <tr>
            <td>Записка:</td>
            <td><textarea class="form-control" type="text" id="exampleFormControlTextarea1" rows="5" cols="100" @bind="sample.Note"></textarea></td>
        </tr>
        <tr>
            <td>Место взятия образца:</td>
            <td>@locs?.Where(x => x.Id == sample.LocationId).FirstOrDefault()?.Name</td>
        </tr>
        <tr>
            <td>Причины изменений:</td>
            <td><textarea class="form-control" type="text" id="exampleFormControlTextarea1" rows="5" cols="100" @bind="sample.LastEditComment"></textarea></td>
        </tr>
    </table>
</DataEdit>

@code {
        // Create a new, empty object
        Sample sample = new Sample();
        SampleAnalytical sampleanalytical = new SampleAnalytical();
        List<FinalResult> finres = new List<FinalResult>();

        IEnumerable<Cli> clis;
        IEnumerable<SampleType> sampletypes;
        IEnumerable<Loc> locs;
        IEnumerable<FinalResult> finalresults;

        [Parameter]
        public int Id { get; set; }

    // Set default page title and button text
    public string pagetitle = "Изменить статус испытания";
    public string buttontext = "Изменить";
    public string Visibl = "none";
    public int Status;

    //Executes on page open, set defaults on page.
    protected override async Task OnInitializedAsync()
    {
        clis = await CliService.CliList();
        sampletypes = await SampleTypeService.SampleTypeList();
        locs = await LocService.LocList();
        finalresults = await FinalResultService.FinalResultList(Id);
        sample = await SampleService.Sample_GetOne((int)Id);
        Status = sample.Status;
    }

    protected async Task SampleSave()
    {
        int T = 1;
        foreach (var item in finalresults)
        {
            if (item.IsFinal == false)
                T--;
        }

        if (sample.Status != 5)
        {
            sample.UpdateTime = DateTime.Now;
            sample.UpdateUser = "Обновивший пользователь пользователь";
            // Update is id > 0
            if (sample.Status == 5)
            {
                sample.IsFinal = true;
            }
            else
            {
                sample.IsFinal = false;
            }
            await SampleService.SampleUpdate(sample);
            NavigationManager.NavigateTo("confirmation/samplelist");
        } else if (T == 1)
        {
            sample.UpdateTime = DateTime.Now;
            sample.UpdateUser = "Обновивший пользователь пользователь";
            // Update is id > 0
            if (sample.Status == 5)
            {
                sample.IsFinal = true;
            }
            else
            {
                sample.IsFinal = false;
            }
            await SampleService.SampleUpdate(sample);
            NavigationManager.NavigateTo("confirmation/samplelist");
        }
        else
            Visibl = "block";
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("confirmation/samplelist");
    }
}
